@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 2px solid #000000;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
}

main {
  padding: 0 2.2rem 3rem;
}

.logo__image {
  width: 2rem;
}

.navigation__menu-toggle span {
  display: block;
  width: 1.6rem;
  height: 0.2rem;
  margin-bottom: 5px;
  background: #858585;
  border-radius: 3px;
  z-index: 1;
}

.navigation__menu {
  display: none;
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.navigation__menu-item {
  position: relative;
}

navigation__menu-item:hover,
navigation__menu-item:focus-within {
  cursor: pointer;
}

.navigation__menu-item > a,
.navigation__menu-item ul a {
  font-size: 0.7rem;
  color: #000000;
}

.navigation__menu-item:focus-within a {
  outline: none;
}

.navigation__menu-item > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.1rem;
  display: block;
  margin-top: 0.4rem;
  right: 0;
  background: #ec6435;
  transition: width 0.4s ease;
}

.navigation__menu-item > a:hover:after {
  width: 100%;
  left: 0;
  background: #ec6435;
}

.navigation__menu-item ul {
  list-style-type: none;
  visibility: hidden;
  opacity: 0;
  top: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  width: max-content;
  background-color: transparent;
  padding-top: 2.3rem;
}

.navigation__menu-item:hover > ul,
.navigation__menu-item:focus-within > ul,
.navigation__menu-item ul:hover,
.navigation__menu-item ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navigation__menu-item ul li {
  clear: both;
  width: 100%;
  background-color: #ffffff;
  padding: 0.1rem 0.2rem 0.5rem 0.5rem;
  border-bottom: 0.1rem solid #ccc;
  border-right: 1px solid rgba(204, 204, 204, 0.153);
}

.navigation__menu-item ul li a {
  transition: all 0.4s ease;
}

.navigation__menu-item ul li a:hover {
  color: #ec6435;
  transition: all 0.4s ease;
}

.activities__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1.2rem;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities__title {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ec6435;
  font-weight: 600;
}

.activities__subtitle {
  font-size: 2rem;
  font-weight: 800;
  margin: 0.3rem 0 1.4rem;
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  border: 0.15rem solid #ec6435;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  border-radius: 0 0.9rem 0.9rem 0.9rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover {
  transition: all 0.5s ease;
}

.button--activities {
  color: #ffffff;
  background-color: #ec6435;
}

.button--menu {
  color: #ec6435;
  background-color: #ffffff;
}

.activities__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity__card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card"
    "card";
  margin: 0.6rem 0 0.6rem;
}

.activity__card-text {
  grid-area: card;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  padding: 0 0 0.8rem;
}

.activity__category {
  text-transform: uppercase;
  font-size: 0.6rem;
}

.activity__title {
  font-size: 0.9rem;
}

.activity__image {
  grid-area: card;
  width: 100%;
  border-radius: 0.9rem;
}

@media (min-width: 721px) {
  html {
    font-size: 32px;
  }
  .activities__header {
    flex-direction: row;

    margin: 1rem 0 1.2rem;
    justify-content: space-between;
  }

  .header__text {
    align-items: flex-start;
  }

  .activity__card {
    width: 31.5%;
  }

  .activities__container {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .activity__card-text {
    justify-content: center;
    padding: 0;
    opacity: 0;
    background-color: #00000075;
    border-radius: 0.9rem;
  }

  .activity__card-text:hover {
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .activity__image {
    object-fit: cover;
    height: 14rem;
  }

  .button--activities:hover {
    color: #ec6435;
    background-color: #ffffff;
  }

  .button--menu:hover {
    color: #ffffff;
    background-color: #ec6435;
  }

  .navigation__menu-toggle {
    display: none;
  }

  .navigation__menu {
    display: inline-flex;
  }
}
